.container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 5fr;
  grid-template-areas:
    "titulo titulo titulo"
    "filtro filtro filtro";
  width: 100%;
  height: 60vh;
  background: url(../../../public/img/imgBuscador.png) center no-repeat;
  background-size: cover;
}

.tituloBuscador {
  grid-area: titulo;
  background-color: rgb(233, 218, 193, 0.7);
  border-radius: 10px;
  width: 40vw;
  position: relative;
  margin: 0.5rem auto;
  color: #645b4c;
}

.filtro {
  grid-area: filtro;
  background-color: rgb(84, 186, 185, 0.7);
  padding: 1rem;
  width: 70vw;
  height: fit-content;
  position: relative;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 10px;
}

.filtro select {
  border: 1px solid white;
  border-radius: 5px;
  height: 30px;
  font-size: 15px;
  width: 200px;
}
